
<div class='survey-list' width='100%'>
  {{#each surveys as |survey|}}
  <div class='survey{{survey.id}} survey'>
    <h1>{{survey.name}}<h1>
    <a href=''>{{survey.name}}</a>
    <input type='button' value='Delete' id='delete-{{survey.id}}'>
    <input type='button' value='Update' id='update-{{survey.id}}'>
    {{#each questions as |question|}}
    <div class='question{{question.id}} survey'>
      <ul>{{question.question}}<input type='text' id='questionInput{{question.id}}' value="1-5"></ul>
    {{/each}}
  </div>
  <hr>
  {{/each}}
</div>
