<!--
<div class='question-list' width='100%'>
  {{#each questions as |question|}}
  <div class='question{{question.id}} survey'>
    <ul>{{question.question}}<input type='text' id='questionInput{{question.id}}' value="1-5"></ul>
  {{/each}}
  </div>
</div>

{{#each surveys as |survey|}}


<div class='survey-list' width='100%'>
  {{#each surveys as |survey|}}
  <div class='survey{{survey.id}} survey'>
    <h1>{{survey.name}}<h1>
    <input type='button' value='Delete' id='delete-{{survey.id}}'>
    <input type='button' value='Update' id='update-{{survey.id}}'>
  </div>
  <hr>
  {{/each}}
</div> -->


<!-- goal: each survey name and its questions is displayed with number of times
question has been answered and avg score  -->
 <!-- Developers, why are we using data-id and not just id? -->
<h1 id="survey-name-dashboard"><h2><data-id="{{survey.id}}">{{survey.name}}</h1>
  {{#each questions as |question|}}
    <ul id="question-{{question.id}}">Question is {{question.question}}
      <li>Total Answers are {{question.numberOfTimesAnswered}}
      <li>Average Score for this question is {{question.avgScore}}
  </ul>
  {{/each}}
